doctype 5
html
  head
    title Chatroom Test
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
  body
    block content
    script(src="/javascripts/script.js")